button {
    cursor: pointer;
    background-color: #86D3F4;
    border: solid black 3px;
    font-size: 16px;
    font-weight: medium;
    outline: none;
    height: 52px;
    font-weight: bold;
    text-transform: uppercase;
}

button:focus {
    background-color: black;
    color: white;
}

button:disabled {
    border: 1px solid #4E4E4E;
    color: #4E4E4E;
}

.link-button {
    width: 156px;
}

.link-button:focus {
    color: #86D3F4;
}

.number-button {
    width: 88px;
}

.delete-button {
    width: 186px;
}

.accept-button {
    width: 284px;
}

.exit-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px black solid;
    background-color: white;
    height: 52px;
    width: 88px;
    font-size: 30px;
    margin: 20px;
}